@font-face{
  font-family: Motiva Sans;
  src: url(../public/fonts/MotivaSansRegular.woff.ttf) format(truetype);
  font-weight: 400; 
  font-style: normal;
}
@font-face{
  font-family: Motiva Sans;
  src: url(../public/fonts/MotivaSansBold.woff.ttf) format(truetype);
  font-weight: 700; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: Motiva, sans-serif;
  font-style: normal;
  font-weight: 400;
}

footer {
  background-color: #808080;
  text-align: right;
  margin-top: auto;
  padding: 8px;
}
.noJumpDiv{
  display: inline
  
}
.dropdown {
  text-align: left;
  display: inline-block;
  margin: 0;
  list-style: none;
  position:absolute;
  top:0;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  gap: 15px;
  background: #0E141B;
  border-radius: 5px;
  color: #F3F3F3;
}

.dropdwnDiv{
  display: inline-block;
  padding: 20px;
}

dt{
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  }
  
  dd{
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    }