@font-face{
  font-family: Motiva Sans;
  src: url(../public/fonts/MotivaSansRegular.woff.ttf) format(truetype);
  font-weight: 400; 
  font-style: normal;
}
@font-face{
  font-family: Motiva Sans;
  src: url(../public/fonts/MotivaSansBold.woff.ttf) format(truetype);
  font-weight: 700; 
  font-style: normal;
}

body {
  margin: 0;
  font-family: Motiva, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer {
  background-color: #1E2329;
  height: 325px;
  margin-top: auto;
  padding: 8px;
  position: relative;
}
.noJumpDiv{
  display: inline
  
}
.dropdown {
  text-align: left;
  display: inline-block;
  margin: 0;
  list-style: none;
  position:absolute;
  top:0;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  gap: 15px;
  background: #0E141B;
  border-radius: 5px;
  color: #F3F3F3;
}

.dropdwnDiv{
  display: inline-block;
  padding: 20px;
}

dt{
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  }
  
  dd{
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    }
  .ClientStyle{
    background: #0E141B;
  }
    
  .ClientButton{
    background-color: transparent;
    color: #F3F3F3;
    border: transparent;
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 24px;
  }
  .ClientButton:hover{
    color: #66C0F4;
  }
  .HeaderButton{
    background-color: transparent;
    color: #F3F3F3;
    border: transparent;
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 24px;
  }
  .HeaderButton:hover{
    background-color: #4B619B ;
    border-radius: 3%;
  }

  .LibraryHeader{
    background-color: #212B45 ;
    padding: 5px;
  }

  .input1{
    background-color: rgba(14, 20, 27, 0.2);
    border: none;
    color: #4B619B;
    height: 30px;
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .footerdiv1{
    position:absolute;    
    left: 45%;
    top: 10%;
  }
  .footerdiv2{
    position: absolute;    
    left: 60%;
    top: 10%;
  }
 
  .footerButton{
    background-color: transparent;
    border: none;
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F3F3F3;
    text-align: left;
    padding: 5px;
    width: auto;
  }
  .trademarkDiv{
    height: 76px;
    width: 367px;
    font-family: 'Motiva Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #76808C;
    position:absolute;    
    top:36%;
    left: 10%;
    
  }
.footerList{
  list-style-type:none;
  
}

.LibraryPlaceholder{
  height: 750px;
  width: 100%;
  background-color: #313843;
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #F3F3F3;
}

.links{
  background-color: transparent;
  text-decoration: none;
  color: #F3F3F3;
}

.Games{
  background-color: #313843;
  font-family: 'Motiva Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #F3F3F3;
}