footer {
  background-color: #808080;
  text-align: right;
  margin-top: auto;
  padding: 8px;
}
.noJumpDiv{
  display: inline
}
.dropdown {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0px 4px 0px 0px;
  list-style: none;
  position:absolute;
  top:0;
}